@tailwind base;
@tailwind components;
@tailwind utilities;



  .quest-board-bg {
    background-image: url('../public/images/grunge-bg.jpg');
    background-size: cover;
    background-position: center;
  }

  .quest-board-canvas {
    background-image: url('../public/images/grunge-canvas-bg.jpg'); 
    background-size: cover;
    background-position: center;
  }